
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>


<div class="container">
    
  <div class="row">
    <h1>Your Basket!</h1>
    <h2>Your number one stop to online bookstore! </h2>



    <div class="col-xs-12 col-sm-6 col-md-8">
      <ul class="nav nav-tabs">
        <li class="active"><a href="mekong.cgi">Home</a></li>
        <li><a href="?cart=<TMPL_VAR NAME=USERNAME>">Basket</a></li>
        <li><a href="?history=<TMPL_VAR NAME=USERNAME>">Order History</a></li>
        <li><a href="?page=logout">Log Out</a></li>
        <li><a href="#">Hello <TMPL_VAR NAME=USERNAME></a></li>
      </ul>

      <div class="col-md-6">

          <form class="navbar-form navbar-left" role="search">

          <div class="form-group">
            <input type="text" name="search_terms" class="form-control" placeholder="Search"></input>
            <button type="submit" class="btn btn-default">Search</button>
          </div>
          
        </form>

        </div>

        <div class="col-md-6">
        <p><TMPL_VAR NAME=MESSAGE></p>
        <br>
        <br>
<TMPL_IF NAME=CHECKOUT_FLAG>
  
        <table class= "table table-hover">
          
          <tr>
         <td><b>Shipping Details:</b></td>
         </tr>
            <tr>
              <td> <TMPL_VAR NAME=CUST_NAME> </td>
            </tr>  
            <tr>
              <td> <TMPL_VAR NAME=STREET> </td>
              </tr>  
              <tr>
              <td> <TMPL_VAR NAME=STATE> </td>
              </tr>
              <tr>  
              <td> <TMPL_VAR NAME=POSTCODE> </td>
              </tr>
              <tr>  
              <td> <TMPL_VAR NAME=STREET> </td>
              </tr>
              <tr>  
              <td> <TMPL_VAR NAME=EMAIL_ADD> </td>
              </tr>  


        </table>
        <div class="form-group">
          <form>
              <input type="text" name="credit_card_num" class="form-control" placeholder="Credit Card Number"></input><br>
              <input type="text" name="cc_expiry" class="form-control" placeholder="Expiry Date"></input><br>
              <button type="submit" name="finalize_order" class="btn btn-default">Finalize Order</button>
          </form>
            </div>
  </TMPL_IF>       
  <br>
  <br>  
          <table class="table table-hover">
          <TMPL_IF NAME=CART_FLAG>
          <tr>

            <td></td>
            <td>Title</td>
            <td>Author</td>
            <td>Price</td>
            <td></td>
          </tr>

          <TMPL_LOOP NAME=CART>
            <tr>
              <td> <img src= <TMPL_VAR NAME=image> ></td> 
              <td> <TMPL_VAR NAME=title> </td>
              <td> <TMPL_VAR NAME=author> </td>
              <td> <TMPL_VAR NAME=price> </td>
              <td> <a href="?drop=<TMPL_VAR NAME=isbn>&cart=<TMPL_VAR NAME=username>" class="btn btn-default">Drop</a> 
                  <a href="?details=<TMPL_VAR NAME=isbn>&cart=<TMPL_VAR NAME=username>"class="btn btn-default">Detail</a> 
              </td>
              
            </tr>
            </TMPL_LOOP>
            <tr>
              <td></td>
              <td></td>
              <TMPL_IF NAME=CHECKOUT_FLAG>
              <td>
              <TMPL_ELSE>
              <td><a href="?checkout=1&cart=<TMPL_VAR NAME=USERNAME>" class="btn btn-default">Check Out</a>
              </TMPL_IF>
              <b>  Total is:</b></td>
              <td>$<TMPL_VAR NAME=TOTAL_PRICE></td>
            </tr>
            <TMPL_ELSE>
            <h3> Your cart is empty! </h3>
          </TMPL_IF>
            

          </table>
        </div>

    </div>
  </div>

</div>



