
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>


<div class="container">
    
  <div class="row">
    <h1>Checking Out~</h1>
    <h2>Please enter your credit details below</h2>



    <div class="col-xs-12 col-sm-6 col-md-8">
      <ul class="nav nav-tabs">
        <li class="active"><a href="mekong.cgi">Home</a></li>
        <li><a href="?cart=<TMPL_VAR NAME=USERNAME>">Basket</a></li>
        <li><a href="?history=<TMPL_VAR NAME=USERNAME>">Order History</a></li>
        <li><a href="?page=logout">Log Out</a></li>
        <li><a href="#">Hello <TMPL_VAR NAME=USERNAME></a></li>
      </ul>

      <div class="col-md-6">

          <form class="navbar-form navbar-left" role="search">

          <div class="form-group">
            <input type="text" name="search_terms" class="form-control" placeholder="Search"></input>
            <button type="submit" class="btn btn-default">Search</button>
          </div>
          
        </form>

        </div>

        <div class="col-md-6">
          <table class="table table-hover">

          <div class="form-group">
            <input type="text" name="credit_card_num" class="form-control" placeholder="Credit Card Number"></input>
            <input type="text" name="cc_expiry" class="form-control" placeholder="Expiry Date"></input>
            <button type="submit" class="btn btn-default">Finalise Order</button>
          </div>

          </table>
        </div>

    </div>
  </div>

</div>



