
    <h1>Welcome to Mekong!</h1>
    <h2>New Account </h2>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
    
    <p>Creating New Account.</p>
    <p><TMPL_VAR NAME=MESSAGE></p>

    <form role="form" class="form-inline" method="POST">


    <div class="form-group">
      
      <input type="text" name="username" class="form-control" placeholder="Enter Username:">
    </div>


    <div class="form-group">
      
      <input type="password" name="password" class="form-control" placeholder="Password:">
    </div>

     <div class="form-group">
      
      <input type="password" name="password_confirm" class="form-control" placeholder="Re-type Password:">
    </div>

     <div class="form-group">
      
      <input type="text" name="full_name" class="form-control" placeholder="Full Name:">
    </div>

    <div class="form-group">
      
      <input type="text" name="street" class="form-control" placeholder="Street:">
    </div>

    <div class="form-group">
     
      <input type="text" name="city_suburb" class="form-control" placeholder="City/Suburb:">
    </div>

    <div class="form-group">
      
      <input type="text" name="state" class="form-control" placeholder="State:">
    </div>

    <div class="form-group">
      
      <input type="text" name="postcode" class="form-control" placeholder="Postcode:">
    </div>

    <div class="form-group">
      
      <input type="text" name="email_add" class="form-control" placeholder="Email Address:">
    </div>


    
    <button type="submit" name="doRegister" class="btn btn-default">Register</button>
    <a href="mekong.cgi" class="btn btn-default">Home</a>
    
    
  </form>


    <!--
      CGI parameters for debugging:
      <TMPL_VAR NAME=CGI_PARAMS>
    -->
    </div>
