
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>


<div class="container">
  
  <div class="row">

    <h1>Mekong !</h1>
    <h2>Your number one stop to online bookstore! </h2>


    <div class="col-xs-12 col-sm-6 col-md-8">
      <ul class="nav nav-tabs">
        <li class="active"><a href="mekong.cgi">Home</a></li>
        <li><a href="?cart=<TMPL_VAR NAME=USERNAME>">Basket</a></li>
        <li><a href="?history=<TMPL_VAR NAME=USERNAME>">Order History</a></li>
        <li><a href="?page=logout">Log Out</a></li>
        <li><a href="#">Hello <TMPL_VAR NAME=USERNAME></a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-md-4"><a href="?basket=<TMPL_VAR NAME=isbn>" class="btn btn-default">Add to Basket</a> </div>
    

  
    


        <div class="col-md-6">
          <table class="table table-hover">
          
            
            <tr>
              <td> <TMPL_VAR NAME=description> </td>
            </tr> 

          <tr> 
              <td> <img src= <TMPL_VAR NAME=image> ></td> 
          <tr>
          </table>
          

          <table class="table table-hover">
          <tr>
         
            
            <td> <b>Author</b> <TMPL_VAR NAME=authors></td>
          

          <tr>  
              <td> <b>Binding</b> <TMPL_VAR NAME=binding > </td>
          <tr>
              <td> <b>Catalog</b> <TMPL_VAR NAME=catalog > </td>
          </tr> 
          <tr>
            <td> <b>Ean</b> <TMPL_VAR NAME=ean > </td>
          </tr> 
          <tr>
            <td> <b>Edition</b> <TMPL_VAR NAME=edition > </td>
          </tr> 
          <tr>
            <td> <b>ISBN</b> <TMPL_VAR NAME=isbn > </td>
          </tr> 
          <tr>
            <td> <b>Numpages</b> <TMPL_VAR NAME=numpages > </td>
          </tr> 
          <tr>
            <td> <b>Price</b> <TMPL_VAR NAME=price > </td>
          </tr> 
          <tr>
            <td> <b>Publication Date</b><TMPL_VAR NAME=publication_date > </td>
          </tr> 
          <tr>
            <td> <b>Publisher</b> <TMPL_VAR NAME=publisher > </td>
          </tr> 
          <tr>
            <td> <b>Sales Rank</b> <TMPL_VAR NAME=salesrank > </td>
          </tr> 
          <tr>
            <td> <b>Title</b> <TMPL_VAR NAME=title > </td>
          </tr> 
          <tr>
            <td> <b>Year</b> <TMPL_VAR NAME=year > </td>
          </tr>              

            </tr>
          </table>

          
            

          </table>
          <div class="col-xs-6 col-md-4"><a href="?basket=<TMPL_VAR NAME=isbn>" class="btn btn-default">Add to Basket</a> </div>
        </div>


     </div>
  </div>

</div>


