
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>


<div class="container">
    
  <div class="row">
    <h1 class=>Welcome to Mekong!</h1>
    <h2>Your number one stop to online bookstore! </h2>



    <div class="col-xs-12 col-sm-6 col-md-8">
      <ul class="nav nav-tabs">
        <li class="active"><a href="mekong.cgi">Home</a></li>
        <li><a href="?cart=<TMPL_VAR NAME=USERNAME>">Basket</a></li>
        <li><a href="?history=<TMPL_VAR NAME=USERNAME>">Order History</a></li>
        <li><a href="?page=logout">Log Out</a></li>
        <li><a href="#">Hello <TMPL_VAR NAME=USERNAME></a></li>
      </ul>

      <div class="col-md-6">

          <form class="navbar-form navbar-left" role="search">

          <div class="form-group">
            <input type="text" name="search_terms" class="form-control" placeholder="Search"></input>
            <button type="submit" class="btn btn-default">Search</button>
          </div>
          
        </form>

        </div>
        <div class="col-md-6">
          <h4><TMPL_VAR NAME=MESSAGE></h4>
        </div>

        <div class="col-md-6">

          
          <table class="table table-hover">
          <TMPL_IF NAME=SEARCH_FLAG>
          <tr>

            <td></td>
            <td>Title</td>
            <td>Author</td>
            <td>Price</td>
            <td></td>
          </tr>
          </TMPL_IF>
            <TMPL_LOOP NAME=RESULT>
            <tr>
              <td> <img src= <TMPL_VAR NAME=image> ></td> 
              <td> <TMPL_VAR NAME=title> </td>
              <td> <TMPL_VAR NAME=author> </td>
              <td> <TMPL_VAR NAME=price> </td>
              <td> <a href="?add=<TMPL_VAR NAME=isbn>" class="btn btn-default">Add</a> 
                  <a href="?details=<TMPL_VAR NAME=isbn> "class="btn btn-default">Detail</a> 
              </td>
              
            </tr>
            </TMPL_LOOP>


            <TMPL_IF NAME=HISTORY_FLAG>

                  <TMPL_LOOP NAME=HISTORY_RESULT>
                  <tr>
                    
                    <td> <img src= <TMPL_VAR NAME=image> ></td> 
                    <td> 
                      <TMPL_VAR NAME=order_time> <br>
                          <TMPL_VAR NAME=credit_card>
                          <TMPL_VAR NAME=expiry_date> 
                          <TMPL_VAR NAME=title><br>
                         <TMPL_VAR NAME=author>
                     </td>
                   
                    <td> <TMPL_VAR NAME=price> </td>
                    
                  </tr>
                  </TMPL_LOOP>

            </TMPL_IF>

          </table>
        </div>

    </div>
  </div>

</div>



