
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
    <h1>Welcome to Mekong!</h1>
    <h2>Your number one stop to online bookstore! </h2>
    
    <p>Please Login before using any of our feature.</p>
    <p><TMPL_VAR NAME=MESSAGE></p>

    <form role="form" method="POST">


    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" name="username" class="form-control" placeholder="Enter Username:">
    </div>


    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" placeholder="Password:">
    </div>


    
    <button type="submit" name="login" class="btn btn-default">Login</button>
    
    
  </form>


    <div class="container">
      <a href="?page=register" class="btn btn-default"><i class="icon-pencil"></i> Register</a>
    </div>


    
    <!--
      CGI parameters for debugging:
      <TMPL_VAR NAME=CGI_PARAMS>
    -->
    </div>
