
    <h1>Welcome to Mekong!</h1>
    <h2>Your number one stop to online bookstore! </h2>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <div class="container">
    
    <p>You are logged out successfuly. Thank you for using Mekong!</p>

   

    <div class="container">
      <a href="mekong.cgi" class="btn btn-default"><i class="icon-pencil"></i>Home</a>
    </div>

    <!--
      CGI parameters for debugging:
      <TMPL_VAR NAME=CGI_PARAMS>
    -->
    </div>
